body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('https://t3.ftcdn.net/jpg/07/83/14/30/360_F_783143089_ThXXuuOVsXsUUDP9oGGLGseQgAzaPdkA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2vh 2vw;
}
