
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffc0cb; /* Couleur de fond rose */
  padding: 20px; /* Ajout d'une marge intérieure pour l'espace autour du contenu du formulaire */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
